.form{
          padding-top:10%;
          width:50%;
          margin: auto;
      }
      .form, h4{
        text-align: center;

      }
      .form,div input,.update input,.payment input{
        width: 450px;
        height: 35px;
        margin-bottom: 10px;
      }
      .form textarea,.update textarea{
        width: 450px;
        margin-bottom: 10px;
      }
      .form button,.update button,.payment button{
        width: 450px;
        height: 35px;

      }
      button{
        height: 35px;
      }